version: '3.8'
services:
  nginx:
    image: sexto-andar-nginx
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9999:9999"
    network_mode: host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
